/**** JUEGO DEL AHORCADO ****/

html {
  overflow-x: hidden;
}

@font-face {
  font-family: "WEST";
  src: url("../fuente/gang-of-three.ttf");
}

body {
  font-family: "WEST";
  background-image: url("../img/1318898.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin: 0;
  padding: 0;
  height: 100vh; /* Asegura que la página ocupe todo el alto de la pantalla */
}

#reset {
  width: 200px;
  height: 30px;
  font-size: 15px;
  padding: 4px;
}

#abcdario {
  margin: 10px;
}

.letra {
  font-family: "WEST";
  font-size: 24px; /* Ajusta el tamaño de las letras para hacerlo más legible */
}

.letra:hover {
  background-image: url("../img/pngegg.png");
}

.main-container {
  max-width: 90%; /* Ajuste para que el contenedor sea más flexible */
  margin: auto;
  padding-top: 10vh;
  text-align: center;
}

.titulo {
  margin-top: 8vh;
  text-align: center;
  font-family: WEST;
  font-size: 5vw; /* Uso de unidades relativas para un tamaño más adaptable */
  -webkit-text-stroke: 0.3px white;
}

#msg-final {
  text-align: center;
  color: red;
  transition: all 0.8s ease;
  font-size: 6vw; /* Usando unidades relativas */
  height: 60px;
  margin-bottom: 20px;
  -webkit-text-stroke: 0.3px white;
}

#acierto {
  text-align: center;
  min-height: 24px;
  transform: scale(0);
}

.palabra {
  margin: 0 auto 25px auto;
  text-align: center;
  color: royalblue;
  letter-spacing: 6px;
  font-size: 5vw; /* Ajuste de tamaño para que la palabra sea responsiva */
}

span {
  color: red;
}

.letra:disabled {
  color: blue;
}

/* Contenedor para el GIF */
#fullscreenGif {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1; /* Detrás de los elementos interactivos */
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

#fullscreenGif img {
  max-width: 100%;
  max-height: 100%;
}

/* Media Queries para diferentes resoluciones */
@media (max-width: 1024px) {
  .titulo {
    font-size: 8vw; /* Ajusta el tamaño de la fuente en tablets y pantallas medianas */
  }
  .palabra {
    font-size: 8vw; /* Ajuste en la palabra */
  }
}

@media (max-width: 768px) {
  #reset {
    width: 150px; /* Reducir tamaño del botón en pantallas más pequeñas */
  }

  .main-container {
    padding-top: 5vh; /* Menos espacio en pantallas más pequeñas */
  }

  .titulo {
    font-size: 10vw; /* Ajuste en pantallas móviles */
  }

  .palabra {
    font-size: 10vw; /* Ajuste para que se vea bien en pantallas pequeñas */
  }
}

@media (max-width: 480px) {
  .letra {
    font-size: 20px; /* Ajustar tamaño de letra para móviles */
  }

  #msg-final {
    font-size: 10vw; /* Asegura que el mensaje de final sea legible */
  }
}
